<!-- ko with: home -->
<div class="jumbotron">
    <h1>Ett Underligt Äventyr</h1>
    <p class="lead">Adventure!</p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Game</h2>
        <p id="message">Du vaknar upp vid ett vägskäl bredvid en flod. Du ser fyra vägskyltar som pekar åt varsitt håll. Vilken väg tar du?</p>
        <p id="options">
            <input type="button" value="Bärdalen (Norr över en bro)" onclick="DoAction('dalen1')" />
            <input type="button" value="Väldsträdet (Öster)" onclick="DoAction('tradet1')" />
            <input type="button" value="Collins Herrgård (Söder)t" onclick="DoAction('herrgard1')" />
            <input type="button" value="Staden (Väster)" onclick="DoAction('staden1')" />
        </p>
    </div>

    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
            It's now easier than ever before to getting started writing highly interactive web applications.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>*@

    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<!-- /ko -->
